
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.main-block {
    margin:30px 0;
}

.task-buttons {
    margin-left:15px;
}

.task-datetime-block {
    margin:10px 0 10px -40px!important;
    font-size:12px;
    list-style: none;
}

.task-datetime-block li {
    float:left;
    margin-right:25px;
}

.panel-heading {
    overflow: hidden;
}

.subtask-input {
    z-index:1!important;
}

.create-button {
    height:68px;
}
.main-task-title {
    border-radius: 0!important;
}