<!DOCTYPE html>{% load static %}
<html>
<head>
    <title>{% block title %}Default title{% endblock %}</title>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "css/loading-bar.min.css" %}">

    <script type="text/javascript" src="http://yandex.st/jquery/2.1.0/jquery.js"></script>
    <script type="text/javascript" src="http://yandex.st/jquery-ui/1.10.4/jquery-ui.min.js"></script>

    <script type="text/javascript" src="http://yandex.st/angularjs/1.2.15/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.0.0rc10/angular-cookies-1.0.0rc10.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="{% static "js/angular/loading-bar.min.js" %}"></script>
    <script src="{% static "js/base.js" %}"></script>

    <script src="{% static "js/angular/factory.js" %}"></script>
    <script src="{% static "js/angular/controllers.js" %}"></script>

</head>
<body ng-app="app">
    {% block content %}{% endblock %}
</body>
</html>