{% extends "base.html" %}

{% block title %}ToDo | Деловые линии{% endblock %}

{% block content %}

        <div ng-controller="TaskController" class="container main-block">

            <h4>ToDo | Деловые линии</h4>

            <div class="row">
              <div class="col-lg-8">
                <div class="input-group">

                  <input ng-model="task.title"
                         placeholder="Название задачи"
                         type="text"
                         class="form-control main-task-title" />

                  <input ng-model="task.deadline"
                         placeholder="Срок дедлайна"
                         type="text"
                         class="form-control"
                         datepicker />

                  <span class="input-group-btn">

                    <button ng-click="saveTask()"
                            class="btn btn-default create-button"
                            type="button">Создать</button>

                  </span>
                </div>
              </div>
            </div>



      <div class="bs-example">
        <div class="btn-group" style="margin: 9px 0 5px;">
            <a href="{% url 'export-document' %}" class="btn btn-primary" role="button">Скачать задачи в xls</a>
        </div>
      </div>

       <div ng-repeat="task in tasks | orderBy:-task.is_done" class="tasks-list">

            <div ng-class="{'panel-success': task.is_done}" class="panel panel-default main-block">
              <div class="panel-heading">

                  <a ng-show="task.edditing"
                     ng-click="deleteTask($index)"
                     class="pull-right task-buttons"
                     href="javascript:void(0)">Удалить</a>

                  <a ng-click="editTask($index)"
                     class="pull-right task-buttons"
                     href="javascript:void(0)">
                      <span ng-show="!task.edditing">Редактировать</span>
                      <span ng-show="task.edditing">Закончить редактирование</span>
                  </a>

                  <h3 class="panel-title">

                     <input ng-change="updateTask(task)"
                            ng-model="task.is_done"
                            type="checkbox" />

                      {# Basic status #}
                      <span ng-show="!task.edditing">
                        {* task.title *}
                      </span>

                      {# Edit status #}
                      <span ng-show="task.edditing">
                        <input type="text" ng-model="task.title" />
                      </span>
                  </h3>

                  {# Basic status #}
                 <ul ng-show="!task.edditing" class="task-datetime-block">
                    <li ng-show="task.deadline"><span class="glyphicon glyphicon-time"></span> Дедлайн: <b>{* task.deadline *}</b></li>
                    <li ng-show="task.planned_deadline"><span class="glyphicon glyphicon-time"></span> Планируемый срок: <b>{* task.planned_deadline *}</b></li>
                    <li ng-show="task.actual_deadline"><span class="glyphicon glyphicon-time"></span> Реальный срок завершения: <b>{* task.actual_deadline *}</b></li>
                 </ul>

                {# Edit status #}
                <ul ng-show="task.edditing" class="task-datetime-block">
                    <li><span class="glyphicon glyphicon-time"></span> Дедлайн: <input type="text" ng-model="task.deadline" datepicker/></li>
                    <li><span class="glyphicon glyphicon-time"></span> Планируемый срок: <input type="text" ng-model="task.planned_deadline" datepicker/></li>
                </ul>

              </div>

              <div class="panel-body">

                <ul class="list-group">
                  <li ng-repeat="subtask in task.subtasks" class="list-group-item">

                      <input ng-change="updateTask(subtask)"
                             ng-model="subtask.is_done"
                             type="checkbox" />

                      {* subtask.title *}

                      <a ng-show="task.edditing"
                         ng-click="deleteSubTask(task, subtask)"
                         class="pull-right task-buttons"
                         href="javascript:void(0)">Удалить</a>
                  </li>
                </ul>

                <div class="input-group">

                  <input ng-model="task.subtask.title"
                         placeholder="Задача"
                         type="text" class="form-control subtask-input">

                  <span class="input-group-btn">
                    <button ng-click="addSubtask(task)"
                            class="btn btn-default"
                            type="button">Создать подзадачу</button>
                  </span>

                </div>

              </div>
            </div>
        </div>
       </div>
{% endblock %}